{% extends "base.html" %}

{% load bootstrap4 %}

{% block contents %}
<div class="row text-center">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">ログイン</h5>
          <form method="POST">
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary btn-block">ログイン</button>
            <input type="hidden" name="next" value="{{ next }}"/>
            {% csrf_token %}
          </form>
          <a href="{% url 'password_reset' %}">パスワードをお忘れですか?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
