{% extends "base.html" %}

{% load bootstrap4 %}

{% block contents %}

<div class="row text-center">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">会員登録</h5>
        <form action="" method="POST">
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary btn-block">登録</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
